body{
    /* HOME - 3 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 1280px;
height: 5573px;

/* Gray Light */

background: #F2F2F2;
}

.nav-bar {
    /* Nav-bar */


width: 1280px;
height: 95px;

background: #FFFFFF;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame18{
    /* Frame 18 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6px;

position: absolute;
width: 542px;
height: 44px;
left: 658px;
top: 25px;
}

.logogalicia {
    /* Logo Galicia */


position: absolute;
width: 167px;
height: 57px;
left: 114px;
top: calc(50% - 57px/2);
}

.frame20{
    /* Frame 20 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 542px;
height: 44px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.frame19{
/* Frame 19 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 354px;
height: 44px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.button2{
 /* Button / secundario / outline / con-icon */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 20px;
gap: 7px;

width: 172px;
height: 36px;

/* Naranja Primario */

border: 2px solid #FA6400;
border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.button1{
    /* Button / secundario / link */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 212px;
height: 44px;

border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

.frame9{
    /* Frame 9 */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 0px;

width: 6px;
height: 44px;

border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.line{
    /* | */


width: 6px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

/* Gris 2 - Light */

color: #A6A6A6;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.sumate {
   /* Como sumarte */


width: 192px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

/* Naranja Primario */

color: #FA6400;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0; 
}

.button3{
    /* Button / secundario / link */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 136px;
height: 44px;

border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

.comoSumarte{
    /* Como sumarte */


width: 116px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

/* Naranja Primario */

color: #FA6400;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.userCirce{
  /* la:user-circle-solid */


width: 24px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.vector{
    /* Vector */


position: absolute;
left: 9.38%;
right: 9.38%;
top: 9.38%;
bottom: 9.38%;

/* Naranja Primario */

background: #FA6400;
}

.creaTuPerfil{
    /* Creá tu perfil */


width: 102px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

/* Naranja Primario */

color: #FA6400;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.group{
    /* Group */


/* position: absolute; */
left: 8.08%;
right: 2.97%;
top: 0.47%;
bottom: 11.23%;
}
header{
    /* Header-principal */


width: 1280px;
height: 554px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(banner.jpg), #C5C5C5;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.sliderBar{
    /* slider-bar */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 136px;
height: 28px;
left: 572px;
top: 470px;

}
.sliderPoint1{
    /* slider-point */


width: 48px;
height: 8px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.esteEquipo{
    /* Este equipo cree que sí. */


position: absolute;
width: 368px;
height: 39px;
left: 82px;
top: 400px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
/* identical to box height */


/* White */

color: #FFFFFF;
}
.crees{
    /* ¿Creés que un banco puede mejorarle la vida a las personas? */


position: absolute;
width: 667px;
height: 96px;
left: 82px;
top: 289px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
letter-spacing: -0.01em;

/* White */

color: #FFFFFF;
}
.rectangle{
    /* Rectangle 10 */


position: absolute;
width: 1280px;
height: 554px;
left: 0px;
top: 0px;


}
.quienesSomos{
    /* Quienes somos (en numeros) */


width: 1280px;
height: 892px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
.secuencia{
    /* Secuencia-slider */


/* position: absolute; */
width: 1280px;
height: 892px;
left: 0px;
top: 0px;

}
.bloqNumeros{
    /* bloq-numeros-slide */


left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

}
.boxSearch{
    /* box-search */

margin-left: 80px;
margin-top: 64px;
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 24px 18px;
gap: 16px;


width: 1120px;
height: 102px;
left: calc(50% - 1120px/2);
top: 40px;

border-bottom: 1px solid rgba(0, 0, 0, 0.12);
border-radius: 5px;
}
.inputSearch{
    /* input-Search */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px 20px;
gap: 16px;

width: 838px;
height: 54px;

background: #FFFFFF;
border-radius: 6px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
letter-spacing: 0.01em;

/* Gray Medium */

color: #696969;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;

}
.button4{
    /* button */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 25px;
gap: 10px;

width: 230px;
height: 54px;

/* Naranja Primario */

background: #FA6400;
border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 25px;

/* Blanco */

color: #FFFFFF;
}
.sliderSolapas{
    width: 50%;


}
.row1{
width: 50%;

}
.somos{
   /* Somos Galicia */
margin-top: 80px;
width: 297px;
height: 160px;
margin-left: 80px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 46px;
line-height: 89px;
/* or 193% */

letter-spacing: -0.03em;

/* Gray Medium */

color: #696969;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0; 
}
.containerNumeros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.h2{
  /* h2 */


/* Auto layout */


/* position: absolute; */
width: 306px;
left: calc(50% - 306px/2 - 407px);
top: 32.17%;
bottom: 29.37%; 
}
.galicia{
    margin-left: 80px;
margin-top: -130px;
font-family: 'Inter';
font-style:normal;
font-weight: 800;
font-size: 100px;
line-height: 89px;
/* or 193% */

letter-spacing: -0.03em;

/* Gray Medium */

color: #696969;
}
.mientras{
    /* Mientras leés esto logramos... */
    margin-left: 83px;

/* position: absolute; */
width: 276px;
height: 88px;
left: 3px;
top: 36px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 44px;
/* or 138% */

letter-spacing: -0.01em;

/* Gray Dark */

color: #383838;


}
.queBuscamos{
    /* Que buscamos */


width: 1280px;
height: 875px;

/* Gray Light */

background: #F2F2F2;

/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
}
.galleryy {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(5, 70vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	height: 900px;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
  background-color: #e8e8e8;
}
.active {
	scroll-snap-type: unset;
}
li {
	scroll-snap-align: none;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
}
.BGColors{
   /* BG-Colors */


width: 1280px;
height: 900px;


/* Inside auto layout */

flex: none;
order: 4;
flex-grow: 0;
 
}
.tabBar{
    /* Tab-bar-ejes */


/* Auto layout */
margin-top: 300px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 0px;
gap: 28px;

/* position: absolute; */
width: 1280px;
height: 125px;
left: 0px;
top: 777px;

/* Gray Light */

background: #F2F2F2;
}
.teOfrecemos{
/* Te ofrecemos un lugar para... */

margin-top: 200px;
margin-left: 80px;
/* position: absolute; */
width: 517px;
height: 77.75px;
left: 80px;
top: 200px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 92px;
/* or 230% */

letter-spacing: -0.03em;

/* Gray Dark */

color: #383838;
}
.mejorar{
/* Mejorar el día a día de más personas */
margin-top: -30px;
margin-left: 80px;
/* position: absolute; */
width: 823px;
height: 184px;
left: 80px;
top: 291px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 92px;
/* or 96% */

letter-spacing: -0.03em;

/* Gray Dark */

color: #383838;
}
.oficinas{
    /* Nuestras oficinas - bloques */


width: 1280px;
height: 820px;

/* Gray Light */

background: #F2F2F2;

/* Inside auto layout */

flex: none;
order: 5;
flex-grow: 0;
}


.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
  }

  .sostenibilidad {

    margin-top: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    /* Orange */
    
    color: #FA6400;
    
    }
    
    .sostenibilidad2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height, or 132% */
    
    letter-spacing: -0.01em;
    
    /* Gray Dark */
    
    color: #383838;
    }
    
    .sostenibilidad3 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      /* or 162% */
      
      letter-spacing: 0.01em;
      
      /* Gray Medium */
      
      color: #696969;
      }
    
    
    
    
    /* Auto layout */
    .verMas {
      box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    gap: 10px;
    
    
    width: 170px;
    height: 41px;
    left: 0px;
    top: 213px;
    
    /* Orange */
    
    border: 2px solid #FA6400;
    border-radius: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    letter-spacing: 0.02em;
    
    /* Orange */
    
    color: #FA6400;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    .box1{
        margin-left: 50px;
    }
    .historias{
        width: 1280px;
height: 730px;

/* Gray Light */

background: #F2F2F2;

/* Inside auto layout */

flex: none;
order: 6;
flex-grow: 0;
    }

.historiasDeTalento{
    /* Historias de talento */

margin-left: 465px;
/* position: absolute; */
width: 351px;
height: 48px;
left: 465px;
top: 77px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */

text-align: center;
letter-spacing: -0.03em;
}


.gallery {

    width: 1280px;
    height: 730px;
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(3,auto);
  }
  
  .gallery > img {
    padding: 20px;
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;    
    transition: .35s linear;
  }
  
  .gallery img:hover{ 
    width:  calc(20vh*.3/1);  
  }
  .haceBusqueda{
    /* Hace-busqueda */


width: 1280px;
height: 567px;

/* Orange */

background: #FA6400;

/* Inside auto layout */

flex: none;
order: 7;
flex-grow: 0;

  }




.encontra{
    padding-top: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
  }
  
  .sumate{
   /* Sumate a ser parte del Equipo Galicia */

margin-left: 370px;
/* position: absolute; */
width: 540px;
height: 168px;
left: 0px;
top: 93px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 87px;
/* or 198% */

text-align: center;
letter-spacing: -0.02em;

color: #FFFFFF;
  }
  
  .equipo {
    margin-top: -140px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 86px;
    line-height: 87px;
    /* or 198% */
    
    text-align: center;
    letter-spacing: -0.02em;  
    color: #FFFFFF;
  }
  
  .mira {
    margin-top: -60px;
  /* ic:twotone-search */
  
  
  box-sizing: border-box;
  
  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 26px;
  gap: 10px;
  
  width: 317px;
  height: 58px;
  left: 482px;
  top: 410px;
  
  background: #FFFFFF;
  border: 3px solid #FFFFFF;
  border-radius: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  
  letter-spacing: -0.01em;
  
  /* Orange */
  
  color: #FA6400;
  }
  
  .divBoton {
    padding-top: 60px;
    display: flex;
    justify-content: center;
  }
  .footer{
    /* Footer */


width: 1280px;
height: 140px;

/* Gray Light */

background: #F2F2F2;

/* Inside auto layout */

flex: none;
order: 8;
align-self: stretch;
flex-grow: 0;
  }
  .frame24{
    /* Frame 24 */


/* Auto layout */
margin-left: 841px;
display: flex;
flex-direction: row;
align-items: center;
flex-wrap: wrap;
padding: 0px;
gap: 37px;

/* position: absolute; */
width: 359px;
height: 44px;
left: 841px;
top: 51px;

  }
  .comoSumarte{
    /* Button / secundario / link */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    /* Naranja Primario */
    
    color: #FA6400;
    

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 149px;
height: 44px;

border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
  }
  .line15{
    /* Line 15 */


width: 30px;
height: 0px;

border: 1px solid #FA6400;
transform: rotate(90deg);

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
  }
  .seguinos{
    /* Button / secundario / link */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    /* Naranja Primario */
    
    color: #FA6400;
    

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 136px;
height: 44px;

border-radius: 5px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
  }
.columnsFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex: 25%;
}
.frame23{
    /* Frame 23 */
    
    
    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    
    /* position: absolute; */
    width: 221px;
    height: 42px;
    left: 81px;
    top: 52px;
    
    /* Orange */
    
    border: 2px solid #FA6400;
    border-radius: 3px;
    }
    .volver{
    /* Volver arriba */
    
    
    width: 131px;
    height: 24px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    
    /* Orange */
    
    color: #FA6400;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    }